
<html>
    <head>
        
    </head>
    <body class="container">
        
        <div class="d-flex justify-content-center">
                
        <form #flightForm="ngForm" class="border-class"   (submit)="flightForm.valid && updateFlight(flightForm)">
              
        
            <div class="text-primary"><h4>UPDATE FLIGHT!!!</h4></div>
            <div class="form-group">
                <label for="flightModel"> Flight Number :</label>
                <input type="number" [class.is-invalid]="numberCtrl.invalid && numberCtrl.touched" placeholder="Flight Number : XXXX" name="flightNumber" #numberCtrl="ngModel" class="form-control" ngModel required >
                <small  class="text-danger" [class.d-none]="numberCtrl.valid || numberCtrl.untouched">
                    flight Number is required 
                </small>
            </div>    
            <div class="form-group">
                <label for="flightModel"> Flight Model :</label>
                <input type="text" [class.is-invalid]="modelCtrl.invalid && modelCtrl.touched" placeholder="Flight Model : XXXX"name="flightModel" #modelCtrl="ngModel" class="form-control" ngModel required >
                <small  class="text-danger" [class.d-none]="modelCtrl.valid || modelCtrl.untouched">
                    flight model is required 
                </small>
            </div>


            <div class="form-group">
               <label for="carrierName">Carrier Name :</label> 
                <input type="text" name="carrierName" [class.is-invalid]="carrierCtrl.invalid && carrierCtrl.touched" placeholder="Carrier Name : XXXX" #carrierCtrl="ngModel" class="form-control" ngModel required>
                <small  class="text-danger" [class.d-none]="carrierCtrl.valid || carrierCtrl.untouched">
                    flight name is required 
                </small>
            </div>
            
            
            <div class="form-group">
                <label for="seatCapacity">Seat Capacity :</label> 
                <input type="number" [class.is-invalid]="seatCtrl.invalid && seatCtrl.touched" placeholder="Seat Capacity : XXXX" #seatCtrl="ngModel"  name="seatCapacity" class="form-control" ngModel required>
                <small  class="text-danger" [class.d-none]="seatCtrl.valid || seatCtrl.untouched">
                    Seat Capacity is required 
                </small>
            </div>


            <div class="form-group"> 
                <input type="submit" value="Update" [disabled]="flightForm.invalid" class="btn btn-success" style="margin:5px">

            
            </div>
            <div *ngIf="foundStatus==='found'">
                <div class="alert alert-success">
                    <strong>Success!</strong> Flight updated successfuly.
                  </div>
                 
                 
                </div>
                <div *ngIf="foundStatus==='notfound'">
                    <div class="alert alert-danger">
                        <strong>Failed !</strong> Flight with this number do not exists!!.
                      </div>
                     
                    </div>
        </form>
       
        
      </div>
    </body>
</html>

